version: '3.1'
services:
   mongo-db:
      image: mongo
      ports:
         - 27017:27017
      environment:
         MONGO_INITDB_ROOT_USERNAME: admin
         MONGO_INITDB_ROOT_PASSWORD: superSecret
      volumes:
         - mongo-db_data:/data/db
      networks:
         - mongo-compose-network

   mongo-ui:
      image: mongo-express
      ports:
         - 8081:8081
      environment:
         ME_CONFIG_MONGODB_ADMINUSERNAME: admin
         ME_CONFIG_MONGODB_ADMINPASSWORD: superSecret
         ME_CONFIG_BASICAUTH: true
         ME_CONFIG_BASICAUTH_USERNAME: test
         ME_CONFIG_BASICAUTH_PASSWORD: test
         ME_CONFIG_MONGODB_SERVER: mongo-db
         ME_CONFIG_MONGODB_URL: mongodb://admin:superSecret@mongo-db:27017/
      depends_on:
         - 'mongo-db'
      networks:
         - mongo-compose-network

   backend:
      build: ./backend
      ports:
         - 3000:3000
      networks:
         - mongo-compose-network
      depends_on:
         - 'mongo-ui'
      restart: always

volumes:
   mongo-db_data:
      driver: local

networks:
   mongo-compose-network:
      driver: bridge
