version: '3.1'
services:
   mongo-db:
      image: mongo
      ports:
         - 27017:27017
      env_file:
         - .env
      environment:
         MONGO_INITDB_ROOT_USERNAME: MONGO_DB_USERNAME
         MONGO_INITDB_ROOT_PASSWORD: MONGO_DB_PASSWORD
      volumes:
         - mongo-db_data:/data/db
      networks:
         - mongo-compose-network

   mongo-ui:
      image: mongo-express
      ports:
         - 8081:8081
      env_file:
         - .env
      environment:
         ME_CONFIG_MONGODB_ADMINUSERNAME: MONGO_DB_USERNAME
         ME_CONFIG_MONGODB_ADMINPASSWORD: MONGO_DB_PASSWORD
         ME_CONFIG_BASICAUTH: true
         ME_CONFIG_BASICAUTH_USERNAME: test
         ME_CONFIG_BASICAUTH_PASSWORD: test
         ME_CONFIG_MONGODB_SERVER: mongo-db
         ME_CONFIG_MONGODB_URL: mongodb://MONGO_DB_USERNAME:MONGO_DB_PASSWORD@mongo-db:27017/
      depends_on:
         - 'mongo-db'
      networks:
         - mongo-compose-network

   backend:
      build: ./backend
      ports:
         - 3000:3000
      env_file:
         - .env
      networks:
         - mongo-compose-network
      depends_on:
         - 'mongo-ui'
      restart: always
      environment:
         - ME_CONFIG_MONGODB_URL: mongodb://admin:superSecret@mongo-db:27017/

volumes:
   mongo-db_data:
      driver: local

networks:
   mongo-compose-network:
      driver: bridge
