version: '3.1'
services:
   mongo-db:
      env_file:
         - .env
      image: mongo
      container_name: ${MONGO_DB_CONTAINER_NAME}
      ports:
         - ${MONGO_DB_PORT}:${MONGO_DB_PORT}
      environment:
         MONGO_INITDB_ROOT_USERNAME: ${MONGO_DB_USERNAME}
         MONGO_INITDB_ROOT_PASSWORD: ${MONGO_DB_PASSWORD}
      volumes:
         - mongo-db_data:/data/db
      restart: always
      networks:
         - ${STACK_NETWORK}

   mongo-ui:
      env_file:
         - .env
      image: mongo-express
      container_name: ${MONGO_UI_CONTAINER_NAME}
      ports:
         - ${MONGO_UI_PORT}:${MONGO_UI_PORT}
      environment:
         ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_DB_USERNAME}
         ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_DB_PASSWORD}
         ME_CONFIG_BASICAUTH: true
         ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_UI_USERNAME}
         ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_UI_PASSWORD}
         ME_CONFIG_MONGODB_SERVER: ${MONGO_DB_SERVICE_NAME}
         ME_CONFIG_MONGODB_URL: mongodb://${MONGO_DB_USERNAME}:${MONGO_DB_PASSWORD}@${MONGO_DB_SERVICE_NAME}:${MONGO_DB_PORT}/
      depends_on:
         - 'mongo-db'
      restart: always
      networks:
         - ${STACK_NETWORK}

   backend:
      env_file:
         - .env
      build: ./backend
      container_name: ${BACKEND_CONTAINER_NAME}
      ports:
         - ${BACKEND_PORT}:${BACKEND_PORT}
      networks:
         - ${STACK_NETWORK}
      depends_on:
         - 'mongo-ui'
      restart: always
      environment:
         MONGO_URI: ${ME_CONFIG_MONGODB_URL}

volumes:
   mongo-db_data:
      driver: local

networks:
   mongo-compose-network:
      driver: bridge
